{% extends "books/book_base.html" %}

{% block content %}
<h1>{{object.book_title}}</h1>
<p>Author: {{object.book_author}}</p>
<p>Date Created: {{object.date_created}}</p>
<p>Post Type: {{object.post_type}}</p>
<p>Campus: {{object.campus}}</p>
<p>Prof: {{object.professor}}</p>
<p>Class: {{object.class_subject}}</p>
<p>Section: {{object.class_section}}</p>
<p>Semester: {{object.semester}}</p>
<p>Year: {{object.year}}</p>
<p>Online Code? {{object.online_code}}</p>
<p>Edition: {{object.edition}}</p>
<p>Condition: {{object.condition}}</p>
<p>Contact Info: {{object.contact_info}}</p>
{% endblock %}